In [5]:
import pandas as pd
from IPython.display import display
from crawling import NoticeCrawler
from info import urls

In [6]:
url = urls["학사공지"]
crawler = NoticeCrawler(url)
crawler.crawl()

In [7]:
crawler.display_tables()

,이수 구분,교과목명,교과목번호,분반,학점,졸업 요건,수강신청 기간
0,교양,미적분학 1,1151-7008,00,3,필수,1 학년 수강신청 기간 8. 6.( 화 ) 15:00 ～ 17:00
1,교양,인공지능과 미래사회,1004-7003,05,3,필수,
2,전공,선형대수,1214-1003,00,3,필수,
3,전공,어드벤처디자인,1215-1002,00,3,필수,
4,전공,컴퓨터프로그래밍 2,1216-1002,00,3,필수,
5,본인이 교양에서 1 개 교과목 선택해서 수강신청 *,본인이 교양에서 1 개 교과목 선택해서 수강신청 *,본인이 교양에서 1 개 교과목 선택해서 수강신청 *,본인이 교양에서 1 개 교과목 선택해서 수강신청 *,3,,예비 수강신청 기간 7.29( 월 )~7.31( 수 ) 09:00~18:00

                       교과목명 실습기간  인정학점
0  백마인턴십 Ⅲ-1, Ⅲ-2, Ⅲ-3, Ⅲ-4   4주   3학점
1       백마인턴십 Ⅰ-1, Ⅰ-2, Ⅰ-3   8주   6학점
2                   백마인턴십II  1학기  18학점

      교과목명  개설 학년-학기
0  어드벤처디자인       1-2
1  기초프로젝트랩  2-1, 2-2
2  심화프로젝트랩  3-1, 3-2
3    종합설계1       4-1
4    종합설계2       4-2

Empty DataFrame
Columns: [2, 학부 장학금별 선발기준 (붉은 글씨만 학생이 신청가능)]
Index: []

,구분,명칭,장학금액 *,선발기준,직전학기 평균평점,인원,비고,대학 추천 **
0,성적 장학금,성적우수,등록금 전액,성적우수자 및 학과 기준 적용,3.25 이상,총장이 정하는 인원,교내우수,ㅇ
1,성적 장학금,격려,등록금 일부 C급,성적우수자,2.25 이상,〃,교내격려,ㅇ
2,복지 장학금,백마,등록금 일부,"국가장학금 기준 준용 ※ 단, 국가 2유형 대상자는 등록금의 15%(예정) 지원 ※ 이연자( 등록유효복학자 ), 수업연한초과자는 선발대상에서 제외",좌동,적격자,,
3,복지 장학금,영탑A,등록금 전액,장애의 정도가 심한 장애인 (기존 장애1급～장애3급 학생),2.75 이상,〃,,ㅇ
4,복지 장학금,영탑B,등록금 일부 A급,장애의 정도가 심하지 않은 장애인 (기존 장애4급～장애6급 학생),2.75 이상,〃,,ㅇ
5,특별 장학금,체육특기자,등록금 전액,체육진흥원 추천자,1.75 이상,적격자,,ㅇ
6,특별 장학금,복수학위,등록금 전액 (4개 학기),국제교류본부장 추천자,3.50 이상 (전 학기 평점),〃,,
7,특별 장학금,외국어성적우수,등록금 일부 A급,"TOEIC, TOEFL 성적우수자(ETS 주관) •TOEIC 900점 이상 •TOEFL iBT 102점 이상 ※ 자격취득일부터 1년 이내 성적, 재학 중 1회*만 수혜 가능 * 단, 본교 출신 편입생이 동 장학금을 기수혜 한 경우에도, 편입 후 1회 수혜 가능. 편입생의 경우, 편입 후 취득한 성적에 한함 [ ʹ23. 8. 1.～ ʹ24 7. 31. 응시일자만 해당 ] ※ 단, 휴학학기에 등록금을 기납부한 복학생 (등록유효복학생) 은 선발대상에서 제외 ※ 수업일수 1/3선 (’24. 10. 11.) 이내 신청에 한해 지원",2.75 이상,〃,,ㅇ
8,특별 장학금,외국인 (6.25 유엔참전용사 후손),등록금전액 정규학기,6.25 유엔참전용사 후손(직계비속)임이 확인된 외국인 유학생(국제교류본부 추천자) ※ 해당자가 있는 경우 각 대학에서는 국제교류본부로 추천,2.50이상,〃,,
9,특별 장학금,외국인(학부),등록금 일부 B급,외국인 유학생 ※ 국적이 대한민국인 경우 제외,2.75 이상,〃,,ㅇ
10,특별 장학금,외국인 (복수학위3+1),등록금 일부,아시아권 교류대학 복수학위 참가자,이상,총장이 정하는 인원,,
11,특별 장학금,보훈,등록금 전액 (정규 학기),국가유공자 본인 및 자녀 ※ 본인은 장학 기준 성적 및 지급학기 제한 없음,1.51 이상,적격자,,
12,특별 장학금,새터민,등록금 전액 (정규 학기),북한이탈주민 본인 및 자녀 ※ 본인은 직전 두 학기 평균 성적이 각각 1.51 미만인 경우 장학금 지원 제한,1.51 이상,〃,,
13,특별 장학금,학생활동,등록금 전액 또는 일부,총학생회 및 단과대 학생회 간부 등,2.25 이상,총장이 정하는 인원,,ㅇ
14,특별 장학금,학석사연계과정 (학부),학업장려금 학부과정 전체학기 회 이내 매 회 만원,학 석사연계과정 계속 유지자로 학부과정 매학기 이수 이후 지급하되 이수학기 포함 전체 성적 평균 평점이 이상인 자,3.75 이상,〃,,
15,특별 장학금,미래,학업장려금 일 부,성적우수자(별도기준),3.50 이상,〃,,ㅇ

,장학명,제출서류,제출기한,제출장소
0,영탑,"장학금신청서, 장애인증명서",상단 내용 확인 (시간 엄수),학과 사무실
1,외국어성적우수,재학중 1회이므로 신중하게 신청.,,
2,"보훈, 새터민, 학석사연계과정","장학금신청서 [단, 보훈,새터민 신규자는 대학수업료등 면제대상자증명서(교육지원대상자증명서) 추가 제출]",,

0  2024학년도 2학기 SW교양교과목 운영 계획  2024학년도 2학기 SW교양교과목 운영 계획
1

,과목명 (과목번호),분반,수강신청 대상,비고
0,컴퓨터과학적사고 (1004-7002),00~03,전계열,"(권장계열 : 이공계열) 이론(콘텐츠 활용) + 실습(실시간 원격, 파이썬기초)"
1,인공지능과 미래사회 (1004-7003),00~02,전계열,콘텐츠 활용 원격 강의 시간표 미지정
2,인공지능과 미래사회 (1004-7003),03~05,"컴퓨터융합학부 , 인공지능학과 전용 분반","컴퓨터융합학부 , 인공지능학과 전용 분반"
3,인공지능융합기초 (1004-7004),00~02,전계열,대면 강의
4,파이썬 프로그래밍 (1004-7005),00~01,전계열,이론(콘텐츠 활용) + 실습(실시간 원격)
5,파이썬 프로그래밍 (1004-7005),02,전계열,대면 강의
6,데이터분석 입문과활용 (1004-7006),00,전계열,이론(콘텐츠 활용) + 실습(실시간 원격)
7,컴퓨터 이해와 활용 (1004-7007),00,전계열,(권장계열 : 인문/사회/예체능) 대면 강의
8,컴퓨터 이해와 활용 (1004-7007),01~03,전계열,"(권장계열 : 인문/사회/예체능) 콘텐츠 활용 원격 강의, 시간표 미지정"
9,컴퓨터 이해와 활용 (1004-7007),04,전계열,콘텐츠 활용 원격 강의 시간표 미지정(외국인 전용 분반)
10,정보보호 입문과활용 (1004-7008),00,전계열,대면 강의
11,웹프로그래밍기초 (1004-7009),00,전계열,이론(콘텐츠 활용) + 실습(실시간 원격)
12,C프로그래밍기초 (1004-7010),00,전계열,이론(콘텐츠 활용) + 실습(실시간 원격)